.rules h1, h2, h3 {
  font-family: 'Anton', sans-serif;
  font-style: italic;
  justify-content: center;
  display: flex;
  letter-spacing: 1px;
}

.rules-title {
}

.rules h1 {
  font-size: 1.5rem;
  margin: auto;
  padding: 5vw;
  text-align: center;
}

.rules h4 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}

.rules p {
  font-family: 'Arimo', sans-serif;
  text-align: justify;
  line-height: 30px;
  font-size: 1rem;
}

.rules img {
  width: 20vw;
  object-fit: contain;
}

.step-rules {
  display: flex;
}

.gamecontext {
  padding: 5vw;
  
}

.content {
  background-color: rgb(252, 240, 240);
  border-radius: 20px;
  padding: 3vw;
}

.category {
  border-bottom: solid 1px;
  padding-bottom: 2vh;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.animate__animated {
  display: flex;
  justify-content: center;
}

.animate__animated img {
  width: 15%;
  object-fit: cover;
  margin-right: 20px;
}

.content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.case-rules {
  background-color: rgb(252, 240, 240);
  border-radius: 20px;
  padding: 5vw;
}

.sheet-rules {
  display: flex;
}

.sheet-rules img {
  object-fit: contain;
}