.rules {
  font-family: 'LeagueSpartan', sans-serif; 
}

.rules h2, h3 {
  font-family: 'Anton', sans-serif;
  font-style: italic;
}

.rules h4 {
  font-family: 'Anton', sans-serif;
}

.rules p {
  font-family: 'Arimo', sans-serif;
  text-align: justify;
  line-height: 30px;
}

.rules img {
  width: 20vw;
  object-fit: cover;
}

.step-rules {
  display: flex;
}

.gamecontext {
  padding: 5vw;
}

.content {
  background-color: rgb(252, 240, 240);
  border-radius: 20px;
}

.case-rules {
  background-color: rgb(252, 240, 240);
  border-radius: 20px;
  padding: 5vw;
}

.sheet-rules {
  display: flex;
}

.sheet-rules img {
  object-fit: contain;
}

.container {
  display: flex;
  flex-direction: column;
}