.rules h1, h2, h3 {
  font-family: 'Anton', sans-serif;
  font-style: italic;
  justify-content: center;
  display: flex;
}

.rules h1 {
  font-size: 2rem;
  margin: 2vh 0;
}

.rules h4 {
  font-family: 'Anton', sans-serif;
}

.rules p {
  font-family: 'Arimo', sans-serif;
  text-align: justify;
  line-height: 30px;
}

.rules img {
  width: 20vw;
  object-fit: cover;
}

.step-rules {
  display: flex;
}

.gamecontext {
  padding: 5vw;
}

.content {
  background-color: rgb(252, 240, 240);
  border-radius: 20px;
  padding: 3vw;
}

.content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.case-rules {
  background-color: rgb(252, 240, 240);
  border-radius: 20px;
  padding: 5vw;
}

.sheet-rules {
  display: flex;
}

.sheet-rules img {
  object-fit: contain;
}

.container {}